### Import Required Packages and Set Options

#### Import Base Libraries

In [4]:
import os
import sys

import numpy as np
import pandas as pd
import multiprocessing as mp

import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime
from functools import partial

#### Put the Main Package Library on the PYTHONPATH

In [5]:
curdir = sys.path[0]
srcdir = os.path.join(os.path.split(curdir)[0], 'rankfm')
sys.path[0] = srcdir
srcdir

'/Users/ericlundquist/Repos/rankfm/rankfm'

#### Dynamically Re-Load all Package Modules on Execution

In [6]:
%load_ext autoreload
%autoreload 2

from rankfm import RankFM
from evaluation import precision_at_k, recall_at_k

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

#### Set File Path Constants

In [7]:
REPO_ROOT = os.path.split(srcdir)[0]
DATA_ROOT = os.path.join(REPO_ROOT, "data/ml-100k")
print("\n".join([REPO_ROOT, DATA_ROOT]))

/Users/ericlundquist/Repos/rankfm
/Users/ericlundquist/Repos/rankfm/data/ml-100k

### Prepare Example Data

#### Load Users Data

In [9]:
users_df = pd.read_csv(os.path.join(DATA_ROOT, "users.csv"))
users_df['agegroup'] = pd.cut(users_df['age'], [0, 30, 45, 100], right=False, labels=False)
users_df = users_df.drop(['age', 'zip_code'], axis=1)
users_df = pd.get_dummies(users_df, prefix_sep='__', columns=['agegroup', 'gender', 'occupation'])
users_df.mean()

user_id                      472.000000
agegroup__0                    0.433722
agegroup__1                    0.348887
agegroup__2                    0.217391
gender__F                      0.289502
gender__M                      0.710498
occupation__administrator      0.083775
occupation__artist             0.029692
occupation__doctor             0.007423
occupation__educator           0.100742
occupation__engineer           0.071050
occupation__entertainment      0.019088
occupation__executive          0.033934
occupation__healthcare         0.016967
occupation__homemaker          0.007423
occupation__lawyer             0.012725
occupation__librarian          0.054083
occupation__marketing          0.027572
occupation__none               0.009544
occupation__other              0.111347
occupation__programmer         0.069989
occupation__retired            0.014846
occupation__salesman           0.012725
occupation__scientist          0.032874
occupation__student            0.207847
occupation__technician         0.028632
occupation__writer             0.047720
dtype: float64

#### Load Items Data

In [10]:
items_df = pd.read_csv(os.path.join(DATA_ROOT, "items.csv"))
item_names = items_df[['item_id', 'item_name']]
item_names.head()

   item_id          item_name
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [11]:
items_df = items_df.drop(['item_name', 'release_date'], axis=1)
items_df.columns = ['item_id'] + ["genre__{}".format(col) for col in items_df.columns[1:]]
items_df.mean()

item_id               841.500000
genre__action           0.149227
genre__adventure        0.080262
genre__animation        0.024970
genre__childrens        0.072533
genre__comedy           0.300238
genre__crime            0.064804
genre__documentary      0.029727
genre__drama            0.431034
genre__fantasy          0.013080
genre__film_noir        0.014269
genre__horror           0.054697
genre__musical          0.033294
genre__mystery          0.036266
genre__romance          0.146849
genre__scifi            0.060048
genre__thriller         0.149227
genre__war              0.042212
genre__western          0.016052
dtype: float64

#### Load Ratings Data

In [12]:
ratings_explicit = pd.read_csv(os.path.join(DATA_ROOT, "ratings.csv"))
ratings_explicit['timestamp'] = pd.to_datetime(ratings_explicit['unix_timestamp'], origin='unix', unit='s')
ratings_explicit['positive_feedback'] = ratings_explicit.groupby('user_id')['rating'].transform(lambda c: np.where(c > c.mean(), 1, 0))
ratings_explicit = ratings_explicit.drop('unix_timestamp', axis=1)
ratings_explicit.mean()

user_id              462.48475
item_id              425.53013
rating                 3.52986
positive_feedback      0.54194
dtype: float64

In [13]:
ratings_explicit.head()

   user_id  item_id  rating           timestamp  positive_feedback
0      196      242       3 1997-12-04 15:55:49                  0
1      186      302       3 1998-04-04 19:22:22                  0
2       22      377       1 1997-11-07 07:18:36                  0
3      244       51       2 1997-11-27 05:02:03                  0
4      166      346       1 1998-02-02 05:33:16                  0

#### Generate Implicit Feedback Ratings Data

In [14]:
ratings_implicit = ratings_explicit[ratings_explicit.positive_feedback == 1].reset_index(drop=True)
ratings_implicit.head()

   user_id  item_id  rating           timestamp  positive_feedback
0      253      465       5 1998-04-03 18:34:27                  1
1      286     1014       5 1997-11-17 15:38:45                  1
2      200      222       5 1997-10-05 09:05:40                  1
3      224       29       3 1998-02-21 23:40:57                  1
4      122      387       5 1997-11-11 17:47:39                  1

#### Print Final Matrix Shapes

In [15]:
print(ratings_explicit.user_id.nunique(), ratings_explicit.item_id.nunique())
print(ratings_implicit.user_id.nunique(), ratings_implicit.item_id.nunique())

print(ratings_explicit.shape)
print(ratings_implicit.shape)

943 1682
943 1483
(100000, 5)
(54194, 5)

#### Create (Training, Validation) Interactions for Evaluation

In [16]:
print(ratings_implicit.shape)
ratings_implicit.head()

(54194, 5)

   user_id  item_id  rating           timestamp  positive_feedback
0      253      465       5 1998-04-03 18:34:27                  1
1      286     1014       5 1997-11-17 15:38:45                  1
2      200      222       5 1997-10-05 09:05:40                  1
3      224       29       3 1998-02-21 23:40:57                  1
4      122      387       5 1997-11-11 17:47:39                  1

In [94]:
test_pct = 0.25
drop_users = (2, 4)

train_mask = (ratings_implicit.index / ratings_implicit.shape[0]) <  (1 - test_pct)
valid_mask = (ratings_implicit.index / ratings_implicit.shape[0]) >= (1 - test_pct)

interactions_total = ratings_implicit[['user_id', 'item_id']]
interactions_train = ratings_implicit[train_mask][['user_id', 'item_id']]
interactions_valid = ratings_implicit[valid_mask][['user_id', 'item_id']]

# drop some users from the training data to test cold-start functionality
interactions_train = interactions_train[~interactions_train.user_id.isin(drop_users)]

train_users = np.sort(interactions_train.user_id.unique())
valid_users = np.sort(interactions_valid.user_id.unique())
cold_start_users = set(valid_users) - set(train_users)

print("total shape: {}".format(interactions_total.shape))
print("train shape: {}".format(interactions_train.shape))
print("valid shape: {}".format(interactions_valid.shape))
print("train users: {}".format(len(train_users)))
print("valid users: {}".format(len(valid_users)))
print("cold-start users: {}".format(cold_start_users))

total shape: (54194, 2)
train shape: (40598, 2)
valid shape: (13548, 2)
train users: 941
valid users: 905
cold-start users: {2, 4}

In [100]:
iteraction_users = interactions_train.user_id.unique()
iteraction_items = interactions_train.item_id.unique()

#### Create User/Item Features Data for Testing

In [101]:
user_features = users_df[users_df.user_id.isin(iteraction_users)]
print(user_features.shape, users_df.shape)
user_features.head()

(941, 27) (943, 27)

,user_id,agegroup__0,agegroup__1,agegroup__2,gender__F,gender__M,occupation__administrator,occupation__artist,occupation__doctor,occupation__educator,...,occupation__marketing,occupation__none,occupation__other,occupation__programmer,occupation__retired,occupation__salesman,occupation__scientist,occupation__student,occupation__technician,occupation__writer
0,1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,3,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,0,1,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5,6,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,7,0,0,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [102]:
item_features = items_df[items_df.item_id.isin(iteraction_items)]
print(item_features.shape, items_df.shape)
item_features.head()

(1421, 19) (1682, 19)

,item_id,genre__action,genre__adventure,genre__animation,genre__childrens,genre__comedy,genre__crime,genre__documentary,genre__drama,genre__fantasy,genre__film_noir,genre__horror,genre__musical,genre__mystery,genre__romance,genre__scifi,genre__thriller,genre__war,genre__western
0,1,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,4,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0

### Test Out Core Package Functionality

#### Initialize the Model

In [103]:
model = RankFM(factors=10, learning_rate=0.1, regularization=0.01, sigma=0.1)
model

#### Initialize and Inspect Internal Data

In [105]:
%%prun -l 10 

model._init_all(interactions_train, user_features, item_features)

         316610 function calls (315465 primitive calls) in 0.191 seconds

   Ordered by: internal time
   List reduced from 588 to 10 due to restriction <10>

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
    62474    0.016    0.000    0.028    0.000 {built-in method builtins.isinstance}
        1    0.011    0.011    0.165    0.165 ops.py:164(apply)
  959/958    0.010    0.000    0.058    0.000 base.py:253(__new__)
    31119    0.009    0.000    0.012    0.000 generic.py:7(_check)
     4869    0.006    0.000    0.013    0.000 common.py:1845(_is_dtype_type)
    46718    0.005    0.000    0.005    0.000 {built-in method builtins.getattr}
     8707    0.005    0.000    0.023    0.000 base.py:75(is_dtype)
      990    0.005    0.000    0.007    0.000 generic.py:5069(__setattr__)
    10751    0.004    0.000    0.004    0.000 {built-in method builtins.hasattr}
        4    0.004    0.001    0.004    0.001 {method 'sort' of 'numpy.ndarray' objects}

In [106]:
print(len(model.user_id), len(model.user_idx))
print(len(model.item_id), len(model.item_idx))

941 941
1421 1421

In [107]:
print(model.interactions.shape)
print(model.x_uf.shape)
print(model.x_if.shape)

(40598, 2)
(941, 26)
(1421, 18)

In [108]:
print("item weights: {}".format(model.w_i.shape))
print("item feature weights: {}".format(model.w_if.shape))
print("user factors: {}".format(model.v_u.shape))
print("item factors: {}".format(model.v_i.shape))
print("user feature factors: {}".format(model.v_uf.shape))
print("item feature factors: {}".format(model.v_if.shape))

item weights: (1421,)
item feature weights: (18,)
user factors: (941, 10)
item factors: (1421, 10)
user feature factors: (26, 10)
item feature factors: (18, 10)

In [109]:
model.interactions.dtypes

user_idx    int32
item_idx    int32
dtype: object

In [110]:
uf_checker = pd.DataFrame(model.x_uf, columns=user_features.columns[1:])
uf_checker.head()

,agegroup__0,agegroup__1,agegroup__2,gender__F,gender__M,occupation__administrator,occupation__artist,occupation__doctor,occupation__educator,occupation__engineer,...,occupation__marketing,occupation__none,occupation__other,occupation__programmer,occupation__retired,occupation__salesman,occupation__scientist,occupation__student,occupation__technician,occupation__writer
0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [111]:
user_features[user_features.user_id.isin(pd.Series([0,1,2,3,4]).map(model.index_to_user))]

,user_id,agegroup__0,agegroup__1,agegroup__2,gender__F,gender__M,occupation__administrator,occupation__artist,occupation__doctor,occupation__educator,...,occupation__marketing,occupation__none,occupation__other,occupation__programmer,occupation__retired,occupation__salesman,occupation__scientist,occupation__student,occupation__technician,occupation__writer
0,1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,3,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,0,1,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5,6,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,7,0,0,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [112]:
if_checker = pd.DataFrame(model.x_if, columns=item_features.columns[1:])
if_checker.head()

,genre__action,genre__adventure,genre__animation,genre__childrens,genre__comedy,genre__crime,genre__documentary,genre__drama,genre__fantasy,genre__film_noir,genre__horror,genre__musical,genre__mystery,genre__romance,genre__scifi,genre__thriller,genre__war,genre__western
0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [113]:
item_features[item_features.item_id.isin(pd.Series([0,1,2,3,4]).map(model.index_to_item))]

,item_id,genre__action,genre__adventure,genre__animation,genre__childrens,genre__comedy,genre__crime,genre__documentary,genre__drama,genre__fantasy,genre__film_noir,genre__horror,genre__musical,genre__mystery,genre__romance,genre__scifi,genre__thriller,genre__war,genre__western
0,1,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,4,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0

#### Fit the Model on the Training Data and Profile Computational Performance

In [145]:
model = RankFM(factors=10, learning_rate=0.1, regularization=0.01, sigma=0.1)
model

In [146]:
%%prun -l 10 

# model.fit(interactions_train, user_features, item_features, epochs=5, verbose=True)
model.fit(interactions_train, epochs=5, verbose=True)

training epoch: 0
penalized log-likelihood: -16066.0

training epoch: 1
penalized log-likelihood: -14515.47

training epoch: 2
penalized log-likelihood: -14190.93

training epoch: 3
penalized log-likelihood: -13170.77

training epoch: 4
penalized log-likelihood: -12008.37

         6216728 function calls (6215544 primitive calls) in 29.101 seconds

   Ordered by: internal time
   List reduced from 743 to 10 due to restriction <10>

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
   202990   13.209    0.000   16.695    0.000 rankfm.py:251(_gradient_step)
      672    8.071    0.012    8.071    0.012 {method 'acquire' of '_thread.lock' objects}
   405980    3.690    0.000    5.686    0.000 rankfm.py:231(_pairwise_utility)
  4262790    2.323    0.000    2.323    0.000 {built-in method numpy.dot}
        5    0.796    0.159    3.492    0.698 rankfm.py:317(<listcomp>)
        1    0.264    0.264   29.097   29.097 rankfm.py:342(fit_partial)
   406024    0.122    0.000    0.122    0.000 {built-in method numpy.empty}
        5    0.088    0.018    0.090    0.018 pool.py:397(_map_async)
      180    0.070    0.000    0.070    0.000 {built-in method posix.waitpid}
       40    0.063    0.002    0.077    0.002 {built-in method posix.fork}

In [147]:
%%prun -l 10 

model.fit_partial(interactions_train, epochs=3, verbose=True)

training epoch: 0
penalized log-likelihood: -10837.22

training epoch: 1
penalized log-likelihood: -10129.88

training epoch: 2
penalized log-likelihood: -9392.79

         3853126 function calls (3852018 primitive calls) in 17.358 seconds

   Ordered by: internal time
   List reduced from 722 to 10 due to restriction <10>

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
   121794    7.805    0.000    9.830    0.000 rankfm.py:251(_gradient_step)
      400    4.873    0.012    4.873    0.012 {method 'acquire' of '_thread.lock' objects}
   243588    2.169    0.000    3.344    0.000 rankfm.py:231(_pairwise_utility)
  2557674    1.369    0.000    1.369    0.000 {built-in method numpy.dot}
        3    0.478    0.159    2.089    0.696 rankfm.py:317(<listcomp>)
        1    0.155    0.155   17.355   17.355 rankfm.py:342(fit_partial)
   243621    0.071    0.000    0.071    0.000 {built-in method numpy.empty}
      108    0.067    0.001    0.067    0.001 {built-in method posix.waitpid}
        3    0.050    0.017    0.051    0.017 pool.py:397(_map_async)
       24    0.037    0.002    0.046    0.002 {built-in method posix.fork}

#### Evaluate Model Performance on the Validation Data

In [148]:
interactions_valid.head()

       user_id  item_id
40646      437      443
40647      712     1037
40648      903     1070
40649      151      629
40650      711       79

In [149]:
k = 10

In [150]:
# %%prun -l 10 

model_pre = round(precision_at_k(model, interactions_valid, k=k), 3)
model_rec = round(recall_at_k(model, interactions_valid, k=k), 3)
print("model precision: {} model recall: {}".format(model_pre, model_rec))

model precision: 0.118 model recall: 0.121

#### Evaluate Pure Popularity Baseline

In [151]:
most_popular = interactions_train.groupby('item_id').size().sort_values(ascending=False)[:k]
most_popular

item_id
50     357
100    291
181    277
258    260
98     249
174    246
127    245
1      225
56     223
313    221
dtype: int64

In [152]:
test_user_items = interactions_valid.groupby('user_id')['item_id'].apply(set).to_dict()
test_recommends = model.recommend_for_users(list(test_user_items.keys()), cold_start='drop')
test_user_items = {key: val for key, val in test_user_items.items() if key in test_recommends.index}

base_pre = round(np.mean([len(set(most_popular.index) & set(val)) / len(set(most_popular.index)) for key, val in test_user_items.items()]), 3)
base_rec = round(np.mean([len(set(most_popular.index) & set(val)) / len(set(val))                for key, val in test_user_items.items()]), 3)

print("number of test users: {}".format(len(test_user_items)))
print("baseline precision: {} baseline recall: {}".format(base_pre, base_rec))

number of test users: 903
baseline precision: 0.098 baseline recall: 0.088

#### Generate Model Scores for Test User/Items

In [134]:
mask = (interactions_valid.user_id.isin(interactions_train.user_id)) & (interactions_valid.item_id.isin(interactions_train.item_id))
print(interactions_valid.shape)
print(interactions_valid[mask].shape)

(13548, 2)
(13469, 2)

In [135]:
scores_miss = model.predict(interactions_valid, cold_start='nan')
scores_drop = model.predict(interactions_valid, cold_start='drop')

print(scores_miss.shape)
print(scores_drop.shape)

(13548,)
(13469,)

In [136]:
print(scores_miss.mean(), scores_miss.std(), scores_miss.min(), scores_miss.max())
print(scores_drop.mean(), scores_drop.std(), scores_drop.min(), scores_drop.max())

nan nan nan nan
1.4121452923254294 0.9846128120112232 -2.8476577476010805 4.421309398945391

#### Spot-Check Some User Recommendations

In [137]:
len(train_users), len(valid_users), cold_start_users

(941, 905, {2, 4})

In [138]:
recommendations = model.recommend_for_users(valid_users, n_items=10, filter_previous=True, cold_start='nan')
print(recommendations.shape)
recommendations.head(10)

(905, 10)

        0      1      2      3      4      5      6      7      8      9
1   238.0   98.0   56.0   89.0  174.0  127.0  168.0  100.0   12.0  179.0
2     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3   300.0  333.0  328.0  313.0  690.0  301.0  288.0  307.0  292.0  242.0
4     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
5   168.0  174.0   96.0  172.0   69.0  403.0  234.0   98.0   89.0   22.0
6   191.0  483.0  238.0  134.0  175.0  357.0  197.0  514.0  179.0  479.0
7   191.0  238.0   98.0  168.0  174.0  133.0  172.0  194.0   89.0   96.0
8   174.0  172.0  168.0   98.0   96.0  181.0   69.0   22.0  127.0   56.0
9   275.0  313.0   50.0  127.0  181.0  100.0  191.0  237.0  216.0  258.0
10  238.0  191.0  483.0   98.0  175.0  179.0  134.0  187.0  357.0  135.0

In [139]:
recommendations[recommendations.isnull().any(axis=1)]

    0   1   2   3   4   5   6   7   8   9
2 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
4 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

In [140]:
user_id = 6
user_recs = recommendations.loc[user_id]
user_item_names = item_names[item_names.item_id.isin(user_recs)].set_index('item_id').loc[user_recs]
user_item_names

                                      item_name
item_id
191.0                            Amadeus (1984)
483.0                         Casablanca (1942)
238.0                    Raising Arizona (1987)
134.0                       Citizen Kane (1941)
175.0                             Brazil (1985)
357.0    One Flew Over the Cuckoo's Nest (1975)
197.0                      Graduate, The (1967)
514.0                         Annie Hall (1977)
179.0                Clockwork Orange, A (1971)
479.0                            Vertigo (1958)

### Look at the Movies with the Highest/Lowest Model Weights

In [142]:
item_weights = pd.DataFrame({'item_idx': np.arange(len(model.w_i)), 'w_item': model.w_i})
item_weights['item_id'] = item_weights['item_idx'].map(model.index_to_item)
item_weights = pd.merge(item_weights, item_names, on='item_id').sort_values('w_item', ascending=False)
item_weights = item_weights[['item_id', 'item_idx', 'item_name', 'w_item']]

#### Best Movies Ever?

In [143]:
item_weights.head(10)

     item_id  item_idx                        item_name    w_item
178      181       178        Return of the Jedi (1983)  2.445548
49        50        49                 Star Wars (1977)  2.438446
310      313       310                   Titanic (1997)  2.418097
124      127       124            Godfather, The (1972)  2.395235
99       100        99                     Fargo (1996)  2.371691
234      237       234             Jerry Maguire (1996)  2.196957
169      172       169  Empire Strikes Back, The (1980)  2.112363
11        12        11       Usual Suspects, The (1995)  2.104521
68        69        68              Forrest Gump (1994)  2.084013
6          7         6            Twelve Monkeys (1995)  2.070774

#### Worst Movies Ever?

In [144]:
item_weights.tail(10)

      item_id  item_idx                       item_name    w_item
377       383       377         Flintstones, The (1994) -1.745490
1244     1324      1244                   Loaded (1994) -1.746380
1099     1146      1099            Calendar Girl (1993) -1.748157
1308     1435      1308  Steal Big, Steal Little (1995) -1.748208
1401     1613      1401               Tokyo Fist (1995) -1.766842
790       814       790   Great Day in Harlem, A (1994) -1.769495
544       556       544                Wild Bill (1995) -1.770402
1365     1523      1365    Good Man in Africa, A (1994) -1.777799
1243     1321      1243              Open Season (1996) -1.780668
685       700       685           Miami Rhapsody (1995) -1.790390

# Start Sandbox Code

In [ ]:
np.array_equal(sorted(x_if.index.values), self.item_idx):