### Import Required Packages and Set Options

#### Import Base Libraries

In [4]:
import os
import sys

import numpy as np
import pandas as pd
import multiprocessing as mp

import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime
from functools import partial

#### Put the Main Package Library on the PYTHONPATH

In [5]:
curdir = sys.path[0]
srcdir = os.path.join(os.path.split(curdir)[0], 'rankfm')
sys.path[0] = srcdir
srcdir

'/Users/ericlundquist/Repos/rankfm/rankfm'

#### Dynamically Re-Load all Package Modules on Execution

In [6]:
%load_ext autoreload
%autoreload 2

from rankfm import RankFM
from evaluation import precision_at_k, recall_at_k

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

#### Set File Path Constants

In [7]:
REPO_ROOT = os.path.split(srcdir)[0]
DATA_ROOT = os.path.join(REPO_ROOT, "data/ml-100k")
print("\n".join([REPO_ROOT, DATA_ROOT]))

/Users/ericlundquist/Repos/rankfm
/Users/ericlundquist/Repos/rankfm/data/ml-100k

### Prepare Example Data

#### Load Users Data

In [9]:
users_df = pd.read_csv(os.path.join(DATA_ROOT, "users.csv"))
users_df['agegroup'] = pd.cut(users_df['age'], [0, 30, 45, 100], right=False, labels=False)
users_df = users_df.drop(['age', 'zip_code'], axis=1)
users_df = pd.get_dummies(users_df, prefix_sep='__', columns=['agegroup', 'gender', 'occupation'])
users_df.mean()

user_id                      472.000000
agegroup__0                    0.433722
agegroup__1                    0.348887
agegroup__2                    0.217391
gender__F                      0.289502
gender__M                      0.710498
occupation__administrator      0.083775
occupation__artist             0.029692
occupation__doctor             0.007423
occupation__educator           0.100742
occupation__engineer           0.071050
occupation__entertainment      0.019088
occupation__executive          0.033934
occupation__healthcare         0.016967
occupation__homemaker          0.007423
occupation__lawyer             0.012725
occupation__librarian          0.054083
occupation__marketing          0.027572
occupation__none               0.009544
occupation__other              0.111347
occupation__programmer         0.069989
occupation__retired            0.014846
occupation__salesman           0.012725
occupation__scientist          0.032874
occupation__student            0.207847
occupation__technician         0.028632
occupation__writer             0.047720
dtype: float64

#### Load Items Data

In [10]:
items_df = pd.read_csv(os.path.join(DATA_ROOT, "items.csv"))
item_names = items_df[['item_id', 'item_name']]
item_names.head()

   item_id          item_name
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [11]:
items_df = items_df.drop(['item_name', 'release_date'], axis=1)
items_df.columns = ['item_id'] + ["genre__{}".format(col) for col in items_df.columns[1:]]
items_df.mean()

item_id               841.500000
genre__action           0.149227
genre__adventure        0.080262
genre__animation        0.024970
genre__childrens        0.072533
genre__comedy           0.300238
genre__crime            0.064804
genre__documentary      0.029727
genre__drama            0.431034
genre__fantasy          0.013080
genre__film_noir        0.014269
genre__horror           0.054697
genre__musical          0.033294
genre__mystery          0.036266
genre__romance          0.146849
genre__scifi            0.060048
genre__thriller         0.149227
genre__war              0.042212
genre__western          0.016052
dtype: float64

#### Load Ratings Data

In [12]:
ratings_explicit = pd.read_csv(os.path.join(DATA_ROOT, "ratings.csv"))
ratings_explicit['timestamp'] = pd.to_datetime(ratings_explicit['unix_timestamp'], origin='unix', unit='s')
ratings_explicit['positive_feedback'] = ratings_explicit.groupby('user_id')['rating'].transform(lambda c: np.where(c > c.mean(), 1, 0))
ratings_explicit = ratings_explicit.drop('unix_timestamp', axis=1)
ratings_explicit.mean()

user_id              462.48475
item_id              425.53013
rating                 3.52986
positive_feedback      0.54194
dtype: float64

In [13]:
ratings_explicit.head()

   user_id  item_id  rating           timestamp  positive_feedback
0      196      242       3 1997-12-04 15:55:49                  0
1      186      302       3 1998-04-04 19:22:22                  0
2       22      377       1 1997-11-07 07:18:36                  0
3      244       51       2 1997-11-27 05:02:03                  0
4      166      346       1 1998-02-02 05:33:16                  0

#### Generate Implicit Feedback Ratings Data

In [14]:
ratings_implicit = ratings_explicit[ratings_explicit.positive_feedback == 1].reset_index(drop=True)
ratings_implicit.head()

   user_id  item_id  rating           timestamp  positive_feedback
0      253      465       5 1998-04-03 18:34:27                  1
1      286     1014       5 1997-11-17 15:38:45                  1
2      200      222       5 1997-10-05 09:05:40                  1
3      224       29       3 1998-02-21 23:40:57                  1
4      122      387       5 1997-11-11 17:47:39                  1

#### Print Final Matrix Shapes

In [15]:
print(ratings_explicit.user_id.nunique(), ratings_explicit.item_id.nunique())
print(ratings_implicit.user_id.nunique(), ratings_implicit.item_id.nunique())

print(ratings_explicit.shape)
print(ratings_implicit.shape)

943 1682
943 1483
(100000, 5)
(54194, 5)

#### Create (Training, Validation) Interactions for Evaluation

In [16]:
print(ratings_implicit.shape)
ratings_implicit.head()

(54194, 5)

   user_id  item_id  rating           timestamp  positive_feedback
0      253      465       5 1998-04-03 18:34:27                  1
1      286     1014       5 1997-11-17 15:38:45                  1
2      200      222       5 1997-10-05 09:05:40                  1
3      224       29       3 1998-02-21 23:40:57                  1
4      122      387       5 1997-11-11 17:47:39                  1

In [94]:
test_pct = 0.25
drop_users = (2, 4)

train_mask = (ratings_implicit.index / ratings_implicit.shape[0]) <  (1 - test_pct)
valid_mask = (ratings_implicit.index / ratings_implicit.shape[0]) >= (1 - test_pct)

interactions_total = ratings_implicit[['user_id', 'item_id']]
interactions_train = ratings_implicit[train_mask][['user_id', 'item_id']]
interactions_valid = ratings_implicit[valid_mask][['user_id', 'item_id']]

# drop some users from the training data to test cold-start functionality
interactions_train = interactions_train[~interactions_train.user_id.isin(drop_users)]

train_users = np.sort(interactions_train.user_id.unique())
valid_users = np.sort(interactions_valid.user_id.unique())
cold_start_users = set(valid_users) - set(train_users)

print("total shape: {}".format(interactions_total.shape))
print("train shape: {}".format(interactions_train.shape))
print("valid shape: {}".format(interactions_valid.shape))
print("train users: {}".format(len(train_users)))
print("valid users: {}".format(len(valid_users)))
print("cold-start users: {}".format(cold_start_users))

total shape: (54194, 2)
train shape: (40598, 2)
valid shape: (13548, 2)
train users: 941
valid users: 905
cold-start users: {2, 4}

In [100]:
iteraction_users = interactions_train.user_id.unique()
iteraction_items = interactions_train.item_id.unique()

#### Create User/Item Features Data for Testing

In [101]:
user_features = users_df[users_df.user_id.isin(iteraction_users)]
print(user_features.shape, users_df.shape)
user_features.head()

(941, 27) (943, 27)

,user_id,agegroup__0,agegroup__1,agegroup__2,gender__F,gender__M,occupation__administrator,occupation__artist,occupation__doctor,occupation__educator,...,occupation__marketing,occupation__none,occupation__other,occupation__programmer,occupation__retired,occupation__salesman,occupation__scientist,occupation__student,occupation__technician,occupation__writer
0,1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,3,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,0,1,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5,6,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,7,0,0,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [102]:
item_features = items_df[items_df.item_id.isin(iteraction_items)]
print(item_features.shape, items_df.shape)
item_features.head()

(1421, 19) (1682, 19)

,item_id,genre__action,genre__adventure,genre__animation,genre__childrens,genre__comedy,genre__crime,genre__documentary,genre__drama,genre__fantasy,genre__film_noir,genre__horror,genre__musical,genre__mystery,genre__romance,genre__scifi,genre__thriller,genre__war,genre__western
0,1,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,4,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0

### Test Out Core Package Functionality

#### Initialize the Model

In [103]:
model = RankFM(factors=10, learning_rate=0.1, regularization=0.01, sigma=0.1)
model

#### Initialize and Inspect Internal Data

In [105]:
%%prun -l 10 

model._init_all(interactions_train, user_features, item_features)

         316610 function calls (315465 primitive calls) in 0.191 seconds

   Ordered by: internal time
   List reduced from 588 to 10 due to restriction <10>

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
    62474    0.016    0.000    0.028    0.000 {built-in method builtins.isinstance}
        1    0.011    0.011    0.165    0.165 ops.py:164(apply)
  959/958    0.010    0.000    0.058    0.000 base.py:253(__new__)
    31119    0.009    0.000    0.012    0.000 generic.py:7(_check)
     4869    0.006    0.000    0.013    0.000 common.py:1845(_is_dtype_type)
    46718    0.005    0.000    0.005    0.000 {built-in method builtins.getattr}
     8707    0.005    0.000    0.023    0.000 base.py:75(is_dtype)
      990    0.005    0.000    0.007    0.000 generic.py:5069(__setattr__)
    10751    0.004    0.000    0.004    0.000 {built-in method builtins.hasattr}
        4    0.004    0.001    0.004    0.001 {method 'sort' of 'numpy.ndarray' objects}

In [106]:
print(len(model.user_id), len(model.user_idx))
print(len(model.item_id), len(model.item_idx))

941 941
1421 1421

In [107]:
print(model.interactions.shape)
print(model.x_uf.shape)
print(model.x_if.shape)

(40598, 2)
(941, 26)
(1421, 18)

In [108]:
print("item weights: {}".format(model.w_i.shape))
print("item feature weights: {}".format(model.w_if.shape))
print("user factors: {}".format(model.v_u.shape))
print("item factors: {}".format(model.v_i.shape))
print("user feature factors: {}".format(model.v_uf.shape))
print("item feature factors: {}".format(model.v_if.shape))

item weights: (1421,)
item feature weights: (18,)
user factors: (941, 10)
item factors: (1421, 10)
user feature factors: (26, 10)
item feature factors: (18, 10)

In [109]:
model.interactions.dtypes

user_idx    int32
item_idx    int32
dtype: object

In [110]:
uf_checker = pd.DataFrame(model.x_uf, columns=user_features.columns[1:])
uf_checker.head()

,agegroup__0,agegroup__1,agegroup__2,gender__F,gender__M,occupation__administrator,occupation__artist,occupation__doctor,occupation__educator,occupation__engineer,...,occupation__marketing,occupation__none,occupation__other,occupation__programmer,occupation__retired,occupation__salesman,occupation__scientist,occupation__student,occupation__technician,occupation__writer
0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [111]:
user_features[user_features.user_id.isin(pd.Series([0,1,2,3,4]).map(model.index_to_user))]

,user_id,agegroup__0,agegroup__1,agegroup__2,gender__F,gender__M,occupation__administrator,occupation__artist,occupation__doctor,occupation__educator,...,occupation__marketing,occupation__none,occupation__other,occupation__programmer,occupation__retired,occupation__salesman,occupation__scientist,occupation__student,occupation__technician,occupation__writer
0,1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,3,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,0,1,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5,6,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,7,0,0,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [112]:
if_checker = pd.DataFrame(model.x_if, columns=item_features.columns[1:])
if_checker.head()

,genre__action,genre__adventure,genre__animation,genre__childrens,genre__comedy,genre__crime,genre__documentary,genre__drama,genre__fantasy,genre__film_noir,genre__horror,genre__musical,genre__mystery,genre__romance,genre__scifi,genre__thriller,genre__war,genre__western
0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [113]:
item_features[item_features.item_id.isin(pd.Series([0,1,2,3,4]).map(model.index_to_item))]

,item_id,genre__action,genre__adventure,genre__animation,genre__childrens,genre__comedy,genre__crime,genre__documentary,genre__drama,genre__fantasy,genre__film_noir,genre__horror,genre__musical,genre__mystery,genre__romance,genre__scifi,genre__thriller,genre__war,genre__western
0,1,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,4,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0

#### Fit the Model on the Training Data and Profile Computational Performance

In [179]:
model = RankFM(factors=10, learning_rate=0.1, regularization=0.01, sigma=0.1)
model

In [180]:
%%prun -l 10 

model.fit(interactions_train, item_features=item_features, epochs=10, verbose=True)
# model.fit(interactions_train, epochs=10, verbose=True)

training epoch: 0
penalized log-likelihood: -15836.17

training epoch: 1
penalized log-likelihood: -14116.63

training epoch: 2
penalized log-likelihood: -13107.69

training epoch: 3
penalized log-likelihood: -12240.49

training epoch: 4
penalized log-likelihood: -11144.43

training epoch: 5
penalized log-likelihood: -10008.44

training epoch: 6
penalized log-likelihood: -9529.22

training epoch: 7
penalized log-likelihood: -8956.61

training epoch: 8
penalized log-likelihood: -8577.89

training epoch: 9
penalized log-likelihood: -8242.97

         24624409 function calls (24623087 primitive calls) in 314.489 seconds

   Ordered by: internal time
   List reduced from 779 to 10 due to restriction <10>

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
   405980  265.455    0.001  285.614    0.001 rankfm.py:251(_gradient_step)
     1352   17.494    0.013   17.494    0.013 {method 'acquire' of '_thread.lock' objects}
 21027750   16.408    0.000   16.408    0.000 {built-in method numpy.dot}
   811960   10.789    0.000   16.778    0.000 rankfm.py:231(_pairwise_utility)
       10    1.904    0.190    9.424    0.942 rankfm.py:317(<listcomp>)
        1    0.822    0.822  314.484  314.484 rankfm.py:342(fit_partial)
   812032    0.369    0.000    0.369    0.000 {built-in method numpy.empty}
       10    0.207    0.021    0.211    0.021 pool.py:397(_map_async)
      360    0.173    0.000    0.173    0.000 {built-in method posix.waitpid}
       80    0.126    0.002    0.159    0.002 {built-in method posix.fork}

In [181]:
# model.fit_partial(interactions_train, epochs=3, verbose=True)

#### Evaluate Model Performance on the Validation Data

In [182]:
interactions_valid.head()

       user_id  item_id
40646      437      443
40647      712     1037
40648      903     1070
40649      151      629
40650      711       79

In [183]:
k = 10

In [184]:
# %%prun -l 10 

model_pre = round(precision_at_k(model, interactions_valid, k=k), 3)
model_rec = round(recall_at_k(model, interactions_valid, k=k), 3)
print("model precision: {} model recall: {}".format(model_pre, model_rec))

model precision: 0.112 model recall: 0.112

#### Evaluate Pure Popularity Baseline

In [185]:
most_popular = interactions_train.groupby('item_id').size().sort_values(ascending=False)[:k]
most_popular

item_id
50     357
100    291
181    277
258    260
98     249
174    246
127    245
1      225
56     223
313    221
dtype: int64

In [186]:
test_user_items = interactions_valid.groupby('user_id')['item_id'].apply(set).to_dict()
test_recommends = model.recommend_for_users(list(test_user_items.keys()), cold_start='drop')
test_user_items = {key: val for key, val in test_user_items.items() if key in test_recommends.index}

base_pre = round(np.mean([len(set(most_popular.index) & set(val)) / len(set(most_popular.index)) for key, val in test_user_items.items()]), 3)
base_rec = round(np.mean([len(set(most_popular.index) & set(val)) / len(set(val))                for key, val in test_user_items.items()]), 3)

print("number of test users: {}".format(len(test_user_items)))
print("baseline precision: {} baseline recall: {}".format(base_pre, base_rec))

number of test users: 903
baseline precision: 0.098 baseline recall: 0.088

#### Generate Model Scores for Test User/Items

In [187]:
mask = (interactions_valid.user_id.isin(interactions_train.user_id)) & (interactions_valid.item_id.isin(interactions_train.item_id))
print(interactions_valid.shape)
print(interactions_valid[mask].shape)

(13548, 2)
(13469, 2)

In [188]:
scores_miss = model.predict(interactions_valid, cold_start='nan')
scores_drop = model.predict(interactions_valid, cold_start='drop')

print(scores_miss.shape)
print(scores_drop.shape)

(13548,)
(13469,)

In [178]:
print(scores_miss.mean(), scores_miss.std(), scores_miss.min(), scores_miss.max())
print(scores_drop.mean(), scores_drop.std(), scores_drop.min(), scores_drop.max())

nan nan nan nan
1.6888234272954243 1.079902960939424 -1.8622478229361898 4.6332630227604135

#### Spot-Check Some User Recommendations

In [163]:
len(train_users), len(valid_users), cold_start_users

(941, 905, {2, 4})

In [164]:
recommendations = model.recommend_for_users(valid_users, n_items=10, filter_previous=True, cold_start='nan')
print(recommendations.shape)
recommendations.head(10)

(905, 10)

        0      1      2      3      4      5      6      7      8      9
1    56.0  174.0   98.0  238.0   50.0  100.0  186.0   12.0  127.0  172.0
2     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3   690.0  326.0  333.0  300.0  313.0  310.0  328.0  271.0  288.0  269.0
4     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
5   403.0  174.0  222.0  186.0  227.0  121.0  385.0  226.0  239.0   96.0
6   511.0  199.0  427.0  483.0  318.0  238.0  480.0  654.0  357.0  187.0
7   174.0  443.0   97.0  511.0   98.0  183.0  187.0  520.0  234.0  480.0
8   174.0   98.0  181.0    1.0   50.0  210.0   56.0  172.0  222.0  127.0
9   100.0   50.0  127.0  269.0  313.0  258.0  268.0  276.0  302.0  137.0
10  511.0  187.0  483.0  174.0  480.0  318.0  238.0  357.0   98.0  135.0

In [165]:
recommendations[recommendations.isnull().any(axis=1)]

    0   1   2   3   4   5   6   7   8   9
2 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
4 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

In [166]:
user_id = 6
user_recs = recommendations.loc[user_id]
user_item_names = item_names[item_names.item_id.isin(user_recs)].set_index('item_id').loc[user_recs]
user_item_names

                                      item_name
item_id
511.0                 Lawrence of Arabia (1962)
199.0      Bridge on the River Kwai, The (1957)
427.0              To Kill a Mockingbird (1962)
483.0                         Casablanca (1942)
318.0                   Schindler's List (1993)
238.0                    Raising Arizona (1987)
480.0                 North by Northwest (1959)
654.0                          Chinatown (1974)
357.0    One Flew Over the Cuckoo's Nest (1975)
187.0            Godfather: Part II, The (1974)

### Look at the Movies with the Highest/Lowest Model Weights

In [167]:
item_weights = pd.DataFrame({'item_idx': np.arange(len(model.w_i)), 'w_item': model.w_i})
item_weights['item_id'] = item_weights['item_idx'].map(model.index_to_item)
item_weights = pd.merge(item_weights, item_names, on='item_id').sort_values('w_item', ascending=False)
item_weights = item_weights[['item_id', 'item_idx', 'item_name', 'w_item']]

#### Best Movies Ever?

In [168]:
item_weights.head(10)

     item_id  item_idx                         item_name    w_item
49        50        49                  Star Wars (1977)  2.486130
124      127       124             Godfather, The (1972)  2.420386
310      313       310                    Titanic (1997)  2.419955
99       100        99                      Fargo (1996)  2.350603
178      181       178         Return of the Jedi (1983)  2.345128
0          1         0                  Toy Story (1995)  2.246025
255      258       255                    Contact (1997)  2.220213
171      174       171    Raiders of the Lost Ark (1981)  2.182699
97        98        97  Silence of the Lambs, The (1991)  2.147331
55        56        55               Pulp Fiction (1994)  2.134774

#### Worst Movies Ever?

In [169]:
item_weights.tail(10)

,item_id,item_idx,item_name,w_item
1351,1500,1351,Santa with Muscles (1996),-1.766773
654,668,654,Blood Beach (1981),-1.771150
1352,1501,1352,Prisoner of the Mountains (Kavkazsky Plennik) ...,-1.776078
992,1032,992,Little Big League (1994),-1.778395
536,548,536,"NeverEnding Story III, The (1994)",-1.781300
652,666,652,Blood For Dracula (Andy Warhol's Dracula) (1974),-1.783905
1345,1490,1345,Fausto (1993),-1.786137
1379,1543,1379,Johns (1996),-1.798712
1295,1413,1295,Street Fighter (1994),-1.806559
35,36,35,Mad Love (1995),-1.806707

# Start Sandbox Code

In [ ]:
np.array_equal(sorted(x_if.index.values), self.item_idx)